/*First Page-------------------------------------------*/

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 25px;
  justify-content: space-between;
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-right: 80px;
  gap: 20px;
}

#logo {
  margin-left: 80px;
}

/* .screen1 {
  background-image: url("images/Frame\ 970.png");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
} */

#main1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "content image";
  gap: 100px;
}

#content1 {
  display: grid;
  grid-area: content;
  margin-left: 80px;
  margin-top: 50px;
  width: 100%;
}

#image1 {
  display: grid;
  grid-area: image;
  width: 650px;
  height: 599.29px;
  margin-right: 80px;
  margin-top: 50px;
}

.banner {
  background: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "icon text";
  border-radius: 20px;
  width: 550px;
  height: 110px;
  margin-top: 25px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.13);
}

.icon {
  display: flex;
  justify-self: center;
  align-self: center;
  max-width: 100px;
}

.text-banner {
  display: grid;
  grid-area: text;
}

.button {
  background: linear-gradient(94.84deg, #9d50ff 0.4%, #e13861 100%);
  color: white;
  border-radius: 20px;
  height: 40px;
  margin-top: -5px;
  box-shadow: 0px 4px 10px -5px #00000066;
  border: none;
}

#button1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Second Page-------------------------------------------*/

.brands {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.brands img {
  width: 200px;
  height: 86.96px;
}

.title-divider {
  text-align: center;
  margin-top: 100px;
}

.layouts {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: " strategy design analysis";
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
}

.item1 {
  display: grid;
  grid-area: strategy;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "header image"
    "text text";
  background: linear-gradient(45deg, #278eee 0%, #27beee 100%);
  box-shadow: 0px 0px 50px 0px #2692ee80;
  border-radius: 20px;
  width: 400px;
  height: 243.23px;
}

.item1 h3 {
  display: grid;
  grid-area: header;
}

.item1 h4 {
  display: grid;
  grid-area: text;
  margin-right: 50px;
}

.item1 img {
  display: grid;
  grid-area: image;
  width: 185.25px;
  height: 136.22px;
}

.strategy {
  background: #eef7f3;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strategy img {
  margin-top: -50px;
  margin-left: 30px;
}

.strategy h3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}
.strategy h4 {
  color: white;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 15px;
}

.item2 {
  display: grid;
  grid-area: design;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "header image"
    "text text";
  background: linear-gradient(88.93deg, #833fff 0%, #9b64fe 100%),
    linear-gradient(0deg, #9d50ff, #9d50ff);
  box-shadow: 0px 0px 50px 0px #8541ff80;
  border-radius: 20px;
  width: 400px;
  height: 243.23px;
}

.item2 h3 {
  display: grid;
  grid-area: header;
}

.item2 h4 {
  display: grid;
  grid-area: text;
}

.item2 img {
  display: grid;
  grid-area: image;
  width: 217.5px;
  height: 157.65px;
}

.item3 {
  display: grid;
  grid-area: analysis;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "header image"
    "text text";
  background: linear-gradient(45deg, #ee494a 0%, #ff3765 0.01%, #ff768f 100%);
  box-shadow: 0px 0px 50px 0px #ff3b6780;
  border-radius: 20px;
  width: 400px;
  height: 243.23px;
}

.item3 h3 {
  display: grid;
  grid-area: header;
}

.item3 h4 {
  display: grid;
  grid-area: text;
}

.item3 img {
  display: grid;
  grid-area: image;
  width: 185.25px;
  height: 136.22px;
}

/*Third Page-------------------------------------------*/

.instagram {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "image1 image2 image3"
    "image4 image5 image6";
  padding: 150px;
}

.instagram img {
  width: 100%;
  height: 100%;
}

.instagram1 {
  display: grid;
  grid-area: image1;
}
.instagram2 {
  display: grid;
  grid-area: image2;
}
.instagram3 {
  display: grid;
  grid-area: image3;
}
.instagram4 {
  display: grid;
  grid-area: image4;
}
.instagram5 {
  display: grid;
  grid-area: image5;
}
.instagram6 {
  display: grid;
  grid-area: image6;
}

/*about us Page-------------------------------------------*/

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "h2 image"
    "h5 image";
  margin-top: 200px;
  grid-gap: 5rem;
  margin-left: 80px;
  margin-right: 80px;
}

.about-us h2 {
  display: grid;
  grid-area: h2;
  margin-top: 150px;
}

.about-us h5 {
  display: grid;
  grid-area: h5;
  margin-top: -250px;
}

.about-us img {
  display: grid;
  grid-area: image;
}

/*platforms Page-------------------------------------------*/

.platforms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "image h2"
    "image h5";
  margin-top: 200px;
  grid-gap: 5rem;
  margin-left: 80px;
  margin-right: 80px;
}

.platforms h2 {
  display: grid;
  grid-area: h2;
  margin-top: 150px;
}

.platforms h5 {
  display: grid;
  grid-area: h5;
  margin-top: -250px;
}

.platforms img {
  display: grid;
  grid-area: image;
}

/*platforms Page-------------------------------------------*/

.differential {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "h2 image"
    "h5 image";
  margin-top: 200px;
  grid-gap: 5rem;
  margin-left: 80px;
  margin-right: 80px;
}

.differential h2 {
  display: grid;
  grid-area: h2;
  margin-top: 150px;
}

.differential h5 {
  display: grid;
  grid-area: h5;
  margin-top: -250px;
}

.differential img {
  display: grid;
  grid-area: image;
}

/*form Page-------------------------------------------*/

#form {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "value option";
}

.easy {
  display: grid;
  grid-area: value;
  background-color: white;
  margin-left: 80px;
  border-radius: 20px;
  padding: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  border: 2px solid #eaeaea;
  visibility: visible;
  opacity: 1;
}

.easy.active {
  visibility: visible;
  opacity: 1;
}

.easy-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#options {
  display: grid;
  grid-area: option;
  margin-left: 80px;
  border-radius: 20px;
  padding: 50px;
}

.options-card {
  background-color: white;
  border-radius: 30px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "info preco";
  border: 2px solid #eaeaea;
  width: 580px;
  height: 125px;
}

.price {
  color: #5f30e2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.info h3,
h4 {
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  padding-top: 10px;
}

.medium {
  display: grid;
  grid-area: value;
  background-color: white;
  margin-left: 80px;
  border-radius: 20px;
  padding: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  border: 2px solid #eaeaea;
  visibility: hidden;
  opacity: 0;
}

.medium.active {
  opacity: 1;
  visibility: visible;
}

.medium-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.customize {
  display: grid;
  grid-area: value;
  background-color: white;
  margin-left: 80px;
  border-radius: 20px;
  padding: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  border: 2px solid #eaeaea;
  visibility: hidden;
  opacity: 0;
}

.customize.active {
  opacity: 1;
  visibility: visible;
}

.customize-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#send {
  background-color: white;
  border: 2px solid #eaeaea;
  box-shadow: 0px 0px 20px -2px #00000020;
  width: 200px;
  height: 70px;
  border-radius: 20px;
}

#send:hover {
  background-color: #5f30e2;
}

#send h3 {
  color: #5f30e2;
}

#send h3:hover {
  color: white;
}

#button-send {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/*footer Page-------------------------------------------*/
footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  align-items: center;
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 250px;
  margin-bottom: 100px;
}

footer img {
  width: 35px;
  height: 35px;
  margin: 1rem;
}

/*Responsive Page-------------------------------------------*/

@media (max-width: 768px) {
} ;
